<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>연습연습</title>
	</head>
	<body>
		<header>
            <h1>Spring Boot Project 연습연습</h1>
        </header>
        
        <main>
            실시간 채팅 고고링
            <button id="btnChat">채팅하기</button>
            </br>
            레시피 작성
            <button id="btnRecipe">업로드</button>
            
        </main>
	</body>
 
 <th:block layout:fragment="myscripts">
    <script src="/js/chat/index.js"></script> <!-- chat.js 파일을 연결 -->
</th:block>
</html>